name: Workflow for Codecov example-typescript
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: yarn
      - name: Run tests and collect coverage
        run: yarn coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
